.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

body {
    width: 100%; height: 100%;
    background: #111;
}

#page-container {
    width: 1020px;
    margin: auto;
    padding: 100px 20px 100px;
    text-align: center;
    background: transparent;
}

.summoner-search {
    width: 400px;
    height: 500px;
    margin: auto;
}

#search-title{
    font-size: 24px;
    color: #ddd;
    margin-bottom: 40px;
}

#canvas {
    width: 500px;
    height: 500px;
    position: relative;
    left: calc(50% - 250px);
    text-align: left;
    background: #111;
    overflow: hidden;
    margin-bottom: 20px
}

.region-button {
    width: 70px;
    display: inline-block;
    padding: 9px 0px;
    margin: 1px;
    color: white;
    cursor: pointer;
}

.region {
    display: inline-block;
    border-bottom: 2px solid #111;
    padding-bottom: 8px;
    font-family: helvetica;
    font-size: 18px;
    letter-spacing: 1px;

    -webkit-transition: border-bottom 0.1s, padding-bottom 0.1s;
    transition: border-bottom 0.1s, padding-bottom 0.1s;
}

.region:hover {
    border-bottom: 2px solid white;
    padding-bottom: 1px;
}

#search-field-container {
    display: inline-table;
    margin-top: 10px;
}

.summoner-search input {
    width: 284px;
    padding: 6px 0px;
    background: white;
    float: left;
}

#button-api {
    display: table-cell;
    vertical-align: middle;
    width: 70px;
    padding: 7px 0px 8px;
    margin-left: -1px;
    background: white;
    color: #333;
    float: left;
    cursor: pointer;
    border: none;
    box-shadow: 1px 1px 2px #888;
}

#back {
    position: relative;
    left: 10px;
    top: 10px;
    display: table-cell;
    vertical-align: middle;
    width: 70px;
    padding: 7px 0px;
    background: #333;
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 5px #333;
}

#unranked {
    display: inline-block;
    position: relative;
}

#unranked:after {
    background-image: url('../images/unranked_bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#ranked-stats-container {
    width: 100%;
    margin: auto;
}

h2{
    position: relative;
}

#overall {
    margin: auto;
    display: inline-block;
    margin-bottom: 50px;
}

#ranked-stats-container p {
    width: 300px;
    margin: 2px 20px;
    float: left;
    clear: both;
    text-align: left;
}

.sprees-title {
    font-size: 18px;
    padding-top: 10px;
}

#ranked-stats-container p span {
    float: right;
}

.champion-stats {
    float: left;
    margin-bottom: 40px;
}

.gameModes {
    float: left;
    width: 300px;
    margin: 20px;
    margin-bottom: 50px;
}

summoner-profile {
    color: white
}