<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <!-- Stylesheets-->
        <link rel="stylesheet" type="text/css" href="css/normalize.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">

    </head>

    <body>
        <div id="page-container">
            <div class="summoner-search clearfix" ng-controller="SearchCtrl" ng-show="viewSearch">
                <div id="search-title">League of Legends Statistics</div>
                <div id="canvas"></div>
                <div id="region-container">
                    <div  class="region-button"
                          ng-repeat="region in regions"
                          ng-class="{'selected' : region == selectedRegion}"
                          ng-click="selectRegion(region); moveGlobe(region)"
                          id={{region}}>
                        <p class="region">{{region | uppercase}}</p>
                    </div>
                </div>
                <div id="search-field-container">
                    <input placeholder="Summoner Name" ng-model="summonerName" type="text" on-enter="getSummonerStats(summonerName)" ng-change="hideErrorMsg()"/>
                    <div id="button-api" ng-click="getSummonerStats(summonerName)">Search</div>
                    <p id="error-msg" ng-show="errorMsg">Summoner does not exist</p>
                </div>
            </div>

            <summoner-profile ng-controller="ViewCtrl" ng-show="viewProfile"></summoner-profile>
        </div>

        <!-- Libraries  -->
        <script type="text/javascript" src="lib/jquery-1.11.3.min.js"></script>
        <script src="lib/angular.js "></script>

        <!-- Angular Scripts-->
        <script src="js/angular/app.js"></script>
        <script src="js/angular/controllers.js"></script>
        <script src="js/angular/directives.js"></script>
        <script src="js/angular/filters.js"></script>
        <script src="js/angular/routes.js"></script>
        <script src="js/angular/services.js"></script>

        <!-- WebGL Globe -->
        <script type="text/javascript" src="lib/plugins/globe/third-party/Three/ThreeWebGL.js"></script>
        <script type="text/javascript" src="lib/plugins/globe/third-party/Three/ThreeExtras.js"></script>
        <script type="text/javascript" src="lib/plugins/globe/third-party/Three/RequestAnimationFrame.js"></script>
        <script type="text/javascript" src="lib/plugins/globe/third-party/Three/Detector.js"></script>
        <script type="text/javascript" src="lib/plugins/globe/third-party/Tween.js"></script>
        <script type="text/javascript" src="lib/plugins/globe/coast.js"></script>
        <script type="text/javascript" src="lib/plugins/globe/country.js"></script>
        <script type="text/javascript" src="lib/plugins/globe/world.js"></script>
        <script type="text/javascript" src="lib/plugins/globe/white_globe.js"></script>
        <script type="text/javascript">
            if(!Detector.webgl){
                Detector.addGetWebGLMessage();
            } else {
                var canvas = document.getElementById('canvas');
                var globe = new DAT.Globe(canvas);
                console.log(globe);

                globe.animate();
            }
        </script>
    </body>
</html>