<div class="clearfix">
    <div id="search-title">League of Legends Statistics</div>
    <div id="region-container">
        <div  class="region-button"
              ng-repeat="region in regions"
              ng-class="{'selected' : region == selectedRegion}"
              ng-click="selectRegion(region)">
            {{region | uppercase}}
        </div>
    </div>
    <div id="search-field-container">
        <input placeholder="Summoner Name" ng-model="summonerName" type="text" on-enter="getSummonerStats(summonerName)"/>
        <div id="button-api" ng-click="getSummonerStats(summonerName)">Search</div>
    </div>
</div>